
<h2 class="member">Forgot your password?</h2>

<style>
.member{
   margin-top :80px;
   text-shadow: 0 0 10px #E0EBFF;
   text-align: center;
}
  
.field{
  text-align: center;
  margin-top: 25px;
}

.actions{
  text-align: center;
  margin-top: 10px;
}

.a{
   text-align: center;
   margin-top: 5px;
}
</style>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<div class="a">
<%= render "devise/shared/links" %>
</div>
